{% extends "base.html" %}
{% load static %}

{% block titleblock %}Update {{contact}}{% endblock titleblock %}

{% block bodyblock %}
  
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <a class="btn cancel-btn" href="{% url 'contacts:contacts_detail' contact.pk %}">Cancel</a>
        <input class="btn create-btn" type="submit" value="Update">
    </form>

    
    <br>
    <p><a href="{% url 'contacts:contacts_list' %}">Back to All Contacts</a></p>


{% endblock bodyblock %}