{% extends "base.html" %}
{% load static %}

{% block titleblock %}Contacts{% endblock titleblock %}


{% block bodyblock %}

<h2 class="page-heading-wide">CONTACTS</h2>

<div class="top-btn">
    <a class="btn--inline btn--call-to-action" href="{% url 'contacts:contacts_create' %}">Add New Contact</a>
</div>

<form class="list-page-top rental-list-page-top" method="GET" class="list-page-search">
    <div class="filter">
      <label for="id_status_field">Sorting</label>
      {{sorting_search_form.name_sorting}}
    </div>
    {{sorting_search_form.search_field}}

    <input class="btn--inline btn--btn-outline-black" type="submit" name="search_filter" placeholder="" value="Go">

  </form>


<div class="message-card">
  {% if results %}
    <h2>{{contacts_list|length}} results for "{{ results }}".<form action="" method="GET">
      <input type="hidden" id="sorting_search_clear" name="name_sorting" value="">
      <input type="hidden" id="search_field_clear" name="search_field" value="">
      <input type="submit" id="contacts-clear-search" name="clear_search" value="Clear Search">
    </form></h2>
  {% endif %}
</div>


<div class="">
    <div class="contact-list-wrapper">

    {% if contacts_list %}
        {% for contact in contacts_list %}
            <div class="card card-wide">
                
                    <h1 class="card-heading"><a href="{% url 'contacts:contacts_detail' contact.pk %}">{{contact}}</a></h1>
                <div class="main-info-wrapper">
                    <p class="card-subheading">
                        {% if contact.company %}{{contact.company}}{%endif%} &middot; {%if contact.title%}{{contact.title}}{%endif%}
                    </p>
                    
                    <div class="main-info">
                        {% if contact.phone_number %}
                            <p>{{contact.phone_format}}</p>  
                        {% endif %}
    
                        {% if contact.email %}
                            <p>{{contact.email}}</p>    
                        {% endif %}
                        {% if contact.last_project %}
                            <p class="top-padding-3">
                                <a href="{{contact.last_project.files_link}}" target="_blank">
                                    {{contact.last_project.title}}{% if contact.last_project.season %} - S{{contact.last_project.season}}{%endif%} Drive
                                </a>
                            </p>
                        {% endif %}
                        
                    </div>
                    
                </div>
                <p class="list-edit"><a href="{% url 'contacts:contacts_update' contact.pk %}">Edit</a></p>
            </div>
            
            {% endfor %}
        </div>
</div>
    {% else %}
        {% if not results %}
            <div class="message-card">
                <h1 class="contact-message">No contacts to show.</h1>
            </div>
        {% endif %}

    {% endif %}
    

{% endblock bodyblock %}