{% extends "base.html" %}
{% load static %}

{% block linkblock %}
  <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
{% endblock linkblock %}

{% block titleblock %}Contacts{% endblock titleblock %}

    {% block pagemenu %}
        <!-- <li><a href="#">New Contact</a></li> -->
    {% endblock pagemenu %}


{% block bodyblock %}
<div class="page-top-btns">
    <a class="btn" href="{% url 'contacts:contacts_create' %}">Add New Contact</a>
</div>

    {% if contacts_list %}
        {% for contact in contacts_list %}

        <a class="card" href="{% url 'contacts:contacts_detail' contact.pk %}">
            
                <h2 class="card-heading">{{contact}}</h2>
            <div class="main-info-wrapper">
                <p class="card-subheading">{{contact.company}} &middot; {{contact.title}}</p>
                
                <div class="main-info">
                    {% if contact.phone_number %}
                        <p>p: {{contact.phone_format}}</p>  
                    {% endif %}

                    {% if contact.email %}
                        <p>e: {{contact.email}}</p>    
                    {% endif %}
                        
                </div>

            </div>
        </a>

        {% endfor %}
    {% else %}

        <div class="message-card">
            <h1 class="contact-message">No contacts</h1>
            <!-- Needs New Contact link -->
            <p id="contact-submessage"><a href="{% url 'contacts:contacts_create' %}">Add contact</a></p>
        </div>

    {% endif %}
    

{% endblock bodyblock %}