[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.7"
"psycopg2" = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "==3.9.1"
phonenumbers = "*"
"psycopg2-binary" = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
