body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 1px solid #979797;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
}

.top-decoration {
    width: 100%;
    height: 20px;
    background-color: #E41E31;
    background-image: linear-gradient(to top right, #E41E31, #7E0000);
}

.header h1 {
    text-transform: uppercase;
    padding: 3px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.main-text {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    font-size: 1.8em;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    min-height: 350px;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    /* border: 1px solid #979797; */
    border-radius: 9px;
    width: 75%;
    max-width: 320px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 10px;

    font-size: 1.75em;

    box-shadow: 0 2px 4px #000
}

.login-card input {
    padding: 10px;
    /* border: none; */
    border: 1px solid #979797;
    border-radius: 9px;
    margin: 10px 2px;
    /* box-shadow: 0 0 1px 0 #979797; */
}

.login-card input[type=submit] {
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 600;
    align-self: center;
    padding: 10px 20px;
    color: white;
    background-color: #E41E31;
    background-image: linear-gradient(to top right, #E41E31, #7E0000);
    border: none;
    box-shadow: 0 1px 2px #000;
}

.login-card input[type=submit]:active {
    position: relative;
    top: 1px;
    box-shadow: none;
}

.login-card label {
    margin-top: 20px;
    font-weight: 600;
}

.login-card input[type=text] {
    text-align: center;
    font-size: inherit;
}

.login-card input[type=text]:focus {
    box-shadow: 0 1px 2px #000 inset;
}
