body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    max-height: 30vh;
    border-bottom: 1px solid #979797;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
}

.top-decoration {
    width: 100%;
    height: 20px;
    background-color: #E41E31;
    background-image: linear-gradient(to top right, #E41E31, #7E0000);
}

.header-wrapper img {
    height: 50px;
    margin: auto 10px;
    padding: 10px 0;
}

.main-wrapper {
    margin: 15px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link > div:hover {
    border: 3px solid #E41E31;
}

.page-heading {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.page-heading h1 {
    margin:4px;
    padding:0;
}

/* .query-options {
    padding: 5px;
    margin: 0;
    border: 1px solid black;
}

.query-options a{
    text-decoration: none;
    text-transform: capitalize;
}

.query-options h2 {
    padding: 0;
    margin: 0;
} */