/* Basic Setup */
:root {
    --page-red: #E41E31;
    --page-grey: #979797;
    --page-white: #f2f2f2;
    --page-heading-color: #f2f2f2;
    --page-red-gradient: linear-gradient(to top right, #E41E31, #7E0000);
    --default-color: black;
    --menu-hover-color: black;
    --btn-radius: 9px;
}


body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

ul, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    width: 100%;
    max-height: 30vh;
    border-bottom: 1px solid var(--page-grey);
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
}

.top-decoration {
    width: 100%;
    height: 20px;
    background-color: var(--page-red);
    background-image: var(--page-red-gradient);
}

.header-wrapper img {
    height: 50px;
    margin: auto 10px;
    padding: 10px 0;
}

.main-wrapper {
    margin: 15px;   
}

/* Navigation */

.navbar {
    background: var(--page-red);
    background-image: var(--page-red-gradient);
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 999;
}

.navbar h2 {
    color: var(--page-heading-color);
    padding: .5em;
}

.menu-toggle {
    display: none;
}

.menu-toggle--label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.menu-toggle--label span,
.menu-toggle--label span::before,
.menu-toggle--label span::after {
    display: block;
    height: 2px;
    width: 2em;
    background: var(--default-color);
    position: relative;
}

.menu-toggle--label span::before,
.menu-toggle--label span::after {
    position: absolute;
    content: '';
}

.menu-toggle--label span::before {
    bottom: .5em;
}

.menu-toggle--label span::after {
    top: .5em;
}

.mainmenu {
    position: absolute;
    left: 0;
    top: 100;
    width: 100%;
    height: 300%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform ease-out 150ms;
    background: white;
    border-top: 0px;
    border-left: 0px;
    border-right: 5px solid var(--page-red);
    border-bottom: 5px solid var(--page-red);
    /* background-image: var(--page-red-gradient); */
}


.mainmenu a {
    display: block;
    padding: .5em .8em;
    opacity: 0;
    transition: opacity 5ms;
    color: var(--page-red);
    text-transform: uppercase;
}

.mainmenu li {
    display: flex;
    position: relative;
}

.mainmenu:last-child {
    padding-bottom: .3em;
}

.mainmenu > li:hover > a{
    /* color: var(--menu-hover-color); */
    border-left: solid 3px var(--page-red)
}

.mainmenu a:hover {
    border-bottom: 2px solid var(--page-red);
}

.menu-toggle:checked ~ .mainmenu{
    transform: scale(1, 1);
}

.menu-toggle:checked ~ .mainmenu a {
    opacity: 1;
    transition: opacity 350ms;
}

.submenu {
    display: flex;
    flex-wrap: wrap;
    transform: scale(1, 0);
    transform-origin: bottom;
    opacity: 0;
    transition: transform ease-out 200ms, opacity ease-out 250ms;
}

.mainmenu li:active > .submenu {
    transform: scale(1, 1);
    opacity: 1;
}



/* Page Menu */

.page-menu-wrapper {

}

#current-page {
    text-align: center;
    margin: auto;
    padding: 15px;

    text-transform: uppercase;
}

#page-menu {
    display: none;
    text-align: center;
}

#page-menu li {
    background-color: var(--page-grey);
    padding: 4px;
}

#page-menu li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
}

/* Card Styling */

.card {
    display: flex;
    flex-direction: column;

    padding-bottom: 8px;
    margin-bottom: 8px;

    border: 1px solid rgba(0,0,0,0);
    border-radius: 9px;
    box-shadow: 0 2px 4px black;
}

.card-heading {
    margin: .75em 0 .1em 1em;
}

.card-subheading {
    font-size: 1.2em;
    font-style: italic;
    margin-left: 2em;
    margin-bottom: .5em;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card:hover {
    border: 3px solid var(--page-red);
}

.main-info-wrapper {
    display: flex;
    flex-direction: column;
}

.main-info {
    font-size: 1.25em;
    margin: .5em 1.5em;
}

/* Button Styling */

.btn {
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 600;
    align-self: center;
    padding: 10px 20px;
    color: black;
    background-color: var(--page-white);
    border: none;
    box-shadow: 0 1px 2px #000;
    margin: .25em;
    border-radius: var(--btn-radius);
}

.page-top-btns {
    display:flex;
    justify-content: space-between;
    flex-wrap: none;
    margin-bottom: 2em;
}

.page-top-btns a {
    padding-top: .75em;
    padding-bottom: .5em;
}

.page-bottom-btns {
    display: flex;
    margin: 2em 0;
    font-size: 1.1em;
}

.confirm-btn {
    color: var(--page-white);
    background-color: #E41E31;
    background-image: linear-gradient(to top right, #E41E31, #7E0000);
    
    
}

.cancel-btn {
    background-color: var(--page-grey);
    border-color: var(--page-grey);
}

.delete-btn {
    border: 2px solid var(--page-red);
    color: var(--page-red);
    background: var(--page-white);
}

