/* Basic Setup */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    width: 100%;
    max-height: 30vh;
    border-bottom: 1px solid #979797;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
}

.top-decoration {
    width: 100%;
    height: 20px;
    background-color: #E41E31;
    background-image: linear-gradient(to top right, #E41E31, #7E0000);
}

.header-wrapper img {
    height: 50px;
    margin: auto 10px;
    padding: 10px 0;
}

.main-wrapper {
    margin: 15px;   
}

/* Navigation */


/* Page Menu */

.page-menu-wrapper {

}

#current-page {
    text-align: center;
    margin: auto;
    padding: 15px;

    background-color: #E41E31;
    text-transform: uppercase;
}

#page-menu {
    display: none;
    text-align: center;
}

#page-menu li {
    background-color: #979797;
    padding: 4px;
}

#page-menu li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
}


/* Card Styling */

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link > div:hover {
    border: 3px solid #E41E31;
}
