{% extends "base.html" %}
{% load static %}

{% block titleblock %}Delete Drive{{drive.drive_number}}{% endblock titleblock %}

{% block bodyblock %}
<form method="POST">
    {% csrf_token %}
    <h2>Do you want to delete Drive {{drive.drive_number}}?</h2>
    
    <div class="page-bottom-btns">
        <a class="btn cancel-btn" href="{% url 'harddrives:harddrives_list' %}">Cancel</a>
        <input class="btn delete-btn" type="submit" value="Delete">
    </div>

</form>


  
{% endblock bodyblock %}