{% extends "base.html" %}
{% load static %}

{% block titleblock %}New Drive{% endblock titleblock %}

{% block bodyblock %}
  
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-content">
            {{form.as_p}}
        </div>

        <div class="form-btns">
            <a class="btn cancel-btn" href="{% url 'harddrives:harddrives_list' 'all' %}">Cancel</a>
            <input class="btn confirm-btn" type="submit" value="Create Drive">
        </div>
    </form>

{% endblock bodyblock %}