{% extends "base.html" %}
{% load static %}

{% block titleblock %}Drives List{% endblock titleblock %}

{% block bodyblock %}

<div class="page-top-btns">
    <a class="btn" href="{% url 'harddrives:harddrives_create' %}">New Drive</a>
</div>

    
        <select name="harddrive_filters" id="query-select" class="query-select" onChange=selectCallLink()>
            <option value="{% url 'harddrives:harddrives_list' 'all' %}">All Drives</option>
            <option value="{% url 'harddrives:harddrives_list' 'available' %}">Available Drives</option>
            <option value="{% url 'harddrives:harddrives_list' 'in-use' %}">In Use Drives</option>
            <option value="{% url 'harddrives:harddrives_list' '250GB' %}">250GB</option>
            <option value="{% url 'harddrives:harddrives_list' '500GB' %}">500GB</option>
            <option value="{% url 'harddrives:harddrives_list' '1TB' %}">1TB</option>
            <option value="{% url 'harddrives:harddrives_list' '2TB' %}">2TB</option>
        </select>


    {% if drives_list %}
        {% for drive in drives_list %}

        <a class="card" href="{% url 'harddrives:harddrives_detail' drive.pk %}">

            <h2 class="card-heading">Drive: {{drive.drive_number}}</h2>
            <div class="main-info-wrapper">
                <div class="main-info">
                    <p>Capacity: {{drive.drive_capacity_gb}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    {% else %}
    <div class="message-card">
        <h1 class="contact-message">No drives to show.</h1>
    </div>
    
    {% endif %}


{% endblock bodyblock %}

{% block scriptblock %}

{% endblock scriptblock %}
