{% extends "base.html" %}
{% load static %}

{% block titleblock %}New Drive{% endblock titleblock %}

{% block bodyblock %}
<h1 class="page-heading-wide">NEW DRIVE</h1>

<form class="new-drive-form update-drive" method="POST">
    {% csrf_token %}
    <p>
        {% if form.drive_number.errors %}
            <label for="drive-number" class="drive-number-error">Enter an unused number</label>
            {% else %}
            <label for="drive-number">Drive Number</label>
            {% endif %}
        {% if form.drive_number.value %}
            {{form.drive_number}}
        {% else %}
        <input type="text" id="drive-number" placeholder="{{next_drive}}" name="drive_number" autocomplete="off">
        {% endif %}
    </p>
    <p>
        <label for="id_drive_capacity">Drive Capacity</label>
        {{form.drive_capacity_gb}}
    </p>
    <input type="submit" class="btn--inline btn--call-to-action" value="CREATE">
</form>

{% endblock bodyblock %}

