{% extends "base.html" %}
{% load static %}

{% block titleblock %}Update Drive {{drive.number}}{% endblock titleblock %}

{% block bodyblock %}
  
<form method="POST">
        {% csrf_token %}
        
        <div class="form-content">

            <p>{{form.drive_number.label_tag}}</p>
            <p>{{form.drive_number.errors}}</p>
            <p>{{form.drive_number}}</p>

            <p>{{form.drive_capacity_gb.errors}}</p>
            <div class="flex-horizontal">
                <p>{{form.drive_capacity_gb.label_tag}}</p>
                <p>{{form.drive_capacity_gb}}</p>
            </div>
        </div>

        <div class="form-btns">
            <a class="btn cancel-btn" href="{% url 'harddrives:harddrives_detail' drive.pk %}">Cancel</a>
            <input class="btn confirm-btn" type="submit" value="Update">
        </div>
    </form>

{% endblock bodyblock %}