{% extends "base.html" %}
{% load static %}

{% block titleblock %}Rental Projects{% endblock titleblock %}

{% block bodyblock %}

<div class="page-top-btns">
  <a class="btn" href="{% url 'rental_projects:rental_projects_create' %}">New Rental</a>
</div>

<select name="rental_project_filters" id="query-select" class="query-select" onChange=selectCallLink()>
  <option value="{% url 'rental_projects:rental_projects_list' 'all' %}">All Rentals</option>
  <option value="{% url 'rental_projects:rental_projects_list' 'current' %}">Current Rentals</option>
  <option value="{% url 'rental_projects:rental_projects_list' '51' %}">5.1</option>
  <option value="{% url 'rental_projects:rental_projects_list' '71' %}">7.1</option>
  <option value="{% url 'rental_projects:rental_projects_list' 'atmos' %}">ATMOS</option>
  <option value="{% url 'rental_projects:rental_projects_list' 'imax6' %}">IMAX 6</option>
  <option value="{% url 'rental_projects:rental_projects_list' 'imax12' %}">IMAX 12</option>
</select>

  
    {% if projects_list %}
      
      {% for project in projects_list %}
      <a class="card" href="{%url 'rental_projects:rental_projects_detail' project.abbreviation %}"> 
          {% if project.season %}

            <h2 class="card-heading">{{project.title}}: Season {{project.season}}</h2>

            {% else %}

            <h2 class="card-heading">{{project.title}}</h2>

            {% endif %}

            <div class="main-info-wrapper">
              <p class="card-subheading">{{project.abbreviation}}</p>
                <div class="main-info">
                  <p>{{project.additional_info|linebreaksbr|truncatechars:100}}</p>
                </div>
            </div> 
        {% endfor %}
        {% else %}
        <div class="message-card">
          <h1 class="contact-message">No rental projects to show.</h1>
        </div>
            
      {% endif %}
    </a> 

{% endblock bodyblock %}