{% extends "base.html" %}
{% load static %}

{% block titleblock %}{% if project.season %}{{project.title}}: Season {{project.season}}{% else %}{{project.title}}{% endif %}
  
{% endblock titleblock %}

{% block bodyblock %}

<div class="page-top-btns">
    <a class="btn" href="{% url 'rental_projects:rental_projects_list' 'all' %}">Rentals List</a>
    <a class="btn" href="{% url 'rental_projects:rental_projects_create' %}">Add New Rental</a>
</div>

    <div class="page-heading">
        <h1>{{project.title}}</h1>
            {% if project.season %}
                <h3>Season {{project.season}}</h3>
            {% endif %}
    </div> 

    <!-- .page-heading end -->
<div class="color-page-white page-area">
    <div class="flex-header">
        <p class="section-header">Basic Information</p>
        <a href="{% url 'project_rooms:project_rooms_add_edit' project.abbreviation %}">Room Details</a>
    </div>
    <div class="page-area-info">
        <p>Abbreviation:</p>
        <p>{{ project.abbreviation}}</p>
        <p>Room:</p>
        {% if current_primary %}
            <p>{{current_primary.room}}</p>
                
        {% else %}
            <form method="POST">
                {% csrf_token %}
                {{add_room_form.room}}
                <input name="primary_room" type="hidden" value="True">
                <input name="add_room" class="btn btn-sm" type="submit" value="Add">
            </form>
        {% endif %}
        
        <p>Channel Configuration:</p>
        <p>{{project.channel_config}}</p>
    </div>
</div>
    
<div class="color-light-grey page-area">
    <div class="flex-header">
        <p class="section-header">Clients</p>
        <a href="{% url 'project_clients:project_clients_ms_list' project.abbreviation %}">Media Shuttle Details</a>
    </div>
    <div class="client-list">
        {% for client in project.rental_clients.all %}
            <div class="client-flex">
                <h2><a href="{% url 'project_clients:project_client_detail' project.abbreviation client.pk %}">{{client.client}}</a></h2>
                <p>{{ client.client_role }}</p>
            </div>
        {% endfor %}
        
            <div class="section-form">
                <form class="form-flex-column" method="POST">
                    {% csrf_token %}
                    <div class="form-bottom">
                        <div class="form-field">
                            <p>{{add_client_form.client.label_tag}}</p>
                            <p>{{add_client_form.client}}</p>
                        </div>
                        <div class="form-field">
                                <p>{{add_client_form.client_role.label_tag}}</p>
                                <p>{{add_client_form.client_role}}</p>
                        </div>
                    </div>
                    <div class="bottom-form-btns">
                        <input class="btn btn-sm" name="client_add_edit" type="submit" value="Add/Edit">
                        <input class="btn btn-sm" name="client_remove" type="submit" value="Remove">
                    </div>
                </form>
                
        </div>
    </div>
</div>

<div class="color-page-white page-area">
    <p class="section-header">Login Information</p>
    <div class="page-area-info">
        <p>Drive Username:</p>
        <p>{{ project.drive_user}}</p>
        <p>Drive Password:</p>
        <p>{{project.drive_pass}}</p>
        <p>Media Shuttle Username:</p>
        <p>{{project.ms_user}}</p>
        <p>Media Shuttle Password:</p>
        <p>{{project.ms_pass}}</p>
    </div>
</div>

<div class="color-light-grey page-area">
        <p class="section-header">Drives</p>
        <div class="page-area-info">
            {% if project.rental_drives.all %}
            
            {% for drive in project.rental_drives.all %}
                <div class="client-flex">
                    <h2><a href="{% url 'harddrives:harddrives_detail' drive.drive.pk %}">{{drive.drive}}</a></h2>
                </div>
            {% endfor %}
            
            {% elif project.number_of_systems %}
                
                <h2>{{project.number_of_systems}} drives used.</h2>            

            {% else %}
                    <h2>No Drives Assigned</h2>
            {% endif %}

            
        </div>
            {% if project.project_complete_date %}

            {% else %}
            <div class="section-form">
                <form method="POST">
                    {% csrf_token %}
                    {{add_drive_form.drive}}
        
                    <input class="btn btn-sm" name="drive_add" type="submit" value="Add">
                </form>
            </div>
            {% endif %}
            
    </div>
        
<div class="color-page-white page-area">
    <div class="flex-header">
        <p class="section-header">Notes</p>
        {% if project.files_link %}
        <a href={{ project.files_link }} target="_blank">GoogleDrive</a>
        {% endif %}
    </div>
        <div class="page-area-info">
                <p class="page-area-full-width">{{ project.additional_info|linebreaksbr }}</p>
                
            </div>
    </div>

    <div class="color-light-grey page-area">
            <p class="section-header">Dates</p>
            <div class="page-area-info">
                <p>Start Date:</p>
                    {% if project.start_date %}
                        <p>{{ project.start_date|date:'M d Y'}}</p>
                    {% else %}
                        <p>----</p>
                    {% endif %}
                
                <p>Mixing Complete Date:</p>
                    {% if project.mixing_complete_date %}
                        <p>{{project.mixing_complete_date|date:'M d Y'}}</p>
                    {% else %}
                        <p>------</p>
                    {% endif %}
                
                <p>Backup Date:</p>
                    {% if project.project_complete_date %}
                        <p>{{project.project_complete_date|date:'M d Y'}}</p>
                    {% else %}
                        <p>------</p>
                    {% endif %}
            </div>
            <div class="section-form btn-form">
                <form method="POST">
                    {% csrf_token %}

                    {% if project.mixing_complete_date %}
                        <input name="project_incomplete" class="btn btn-sm" type="submit" value="Incomplete"> 
                    {% else %}   
                        <input name="project_complete" class="btn btn-sm" type="submit" value="Complete">
                    {% endif %}
                </form>
                {% if project.project_complete_date and project.mixing_complete_date %}
                  
                {% else %}
                <form method="POST">
                    {% csrf_token %}

                    <a class="btn btn-sm delete-btn" href="{% url 'rental_projects:rental_projects_backup' project.abbreviation %}">Backup</a>
                </form>
                {% endif %}
                
            </div>
        </div>

        <div class="page-bottom-btns flex-align-right">
    <a class="btn" href="{% url 'rental_projects:rental_projects_update' project.pk %}">Edit</a>
    <a class="btn delete-btn" href="{% url 'rental_projects:rental_projects_delete' project.pk %}">Delete</a>
</div>


{% endblock bodyblock %}