{% extends "base.html" %}
{% load static %}

{% block titleblock %}{% if project.season %}{{project.title}}: Season {{project.season}}{% else %}{{project.title}}{% endif %}

{% endblock titleblock %}

{% block bodyblock %}

<div class="container--rental-detail">

    <div class="page-heading-wide">
        <h2>{{project.title}}</h2>
        {% if project.season %}
        <h5>Season: {{project.season}}</h5>
        {% endif %}
    </div>

    <div class="page-top-btns">
        <a class="btn--inline btn--border-hover" href="{% url 'rental_projects:rental_projects_list' '000' %}">Rentals List</a>
        <a class="btn--inline btn--border-hover" href="{% url 'rental_projects:rental_projects_create' %}">Add New Rental</a>
    </div>
    
        <!-- .page-heading end -->
    
    
    <div class="color-page-white page-area basic-info">
        <div class="flex-header">
            <h3 class="section-header">Basic Information</h3>
        </div>
        <div class="page-area-info">
            <table class="rental-info">
                <tr>
                    <!-- <td>Abbreviation:</td> -->
                    <td>{{ project.abbreviation}}</td>
                </tr>
                <tr>
                    <!-- <td>Room:</td> -->
                    <td>
                        {% if current_primary %}
                            {{current_primary.room}}
                        {% else %}
                            <form method="POST">
                                {% csrf_token %}
                                {{add_room_form.room}}
                                <input name="primary_room" type="hidden" value="True">
                                <input name="add_room" class="btn--inline btn--btn-outline-black" type="submit" value="Add">
                            </form>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <!-- <td>Channel Config:</td> -->
                    <td>{{project.channel_config}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="manage-options">
        <button id="" class="btn--inline" onclick="showModal('.modal--ms-info')">Media Shuttle Details</button>
        <button id="" class="btn--inline" onclick="showModal('.modal--room-detail', 'show-block')">Room Details</button>
        <a href={{project.files_link}} target="_blank">Google Drive</a>
    </div>
        
    <div class="color-page-grey page-area project-clients">
        <div class="flex-header">
            <h3 class="section-header">Clients</h3>

        </div>
        <div class="client-list page-area">
            {% for client in project.rental_clients.all %}
                <div class="client-list-info">
                    <p><a href="{% url 'contacts:contacts_detail' client.client.pk %}">{{client.client}}</a></p>
                    <p>{{ client.client_role }}</p>
                </div>
            {% endfor %}
                    <form class="section-form" method="POST">
                        {% csrf_token %}

                            <div class="form-field">
                                <p>{{add_client_form.client.label_tag}}</p>
                                <p>{{add_client_form.client}}</p>
                            </div>
                            <div class="form-field">
                                    <p>{{add_client_form.client_role.label_tag}}</p>
                                    <p>{{add_client_form.client_role}}</p>
                            </div>
                            <input class="btn--inline btn--btn-outline-black" name="client_add_edit" type="submit" value="Add/Edit Client">
                            <input class="btn--inline btn--btn-outline" name="client_remove" type="submit" value="Remove Client">
                        </form>
                        <button class="btn--inline" onclick="showModal('.modal--new-contact')">Create New Contact</button>
                    </div>

        </div>
    
    
    <div class="color-page-white page-area login-info">
        <div class="flex-header">
            <h3 class="section-header">Login Information</h3>
        </div>
            <div class="page-area-info">
                <table class="login-info">
                    <tr>
                        <td>Drive User:</td>
                        <td>{{project.drive_user}}</td>
                    </tr>
                    <tr>
                        <td>Drive Pass:</td>
                        <td>{{project.drive_pass}}</td>
                    </tr>
                    <tr>
                        <td>MS User:</td>
                        <td>{{project.ms_user}}</td>
                    </tr>
                    <tr>
                        <td>MS Pass:</td>
                        <td>{{project.ms_pass}}</td>
                    </tr>
                </table>
        </div>
    </div>
    
    <div class="color-light-grey page-area rental-drives">
        <div class="flex-header">
            <h3 class="section-header">Drives</h3>
        </div>
        <div class="drive-list page-area">
                {% if project.rental_drives.all %}
                <div class="drive-summary">
                    <h2>{{project.rental_drives.all|length}}{%if project.rental_drives.all|length > 1%} Drives {%else%} Drive {%endif%}</h2>
                    <h2>{{project.total_storage}} TB</h2>
                </div>
                
                {% for drive in project.rental_drives.all %}
                    <div class="rental-drive-item">
                        <p><a href="{% url 'harddrives:harddrives_detail' drive.drive.pk %}">{{drive.drive}}</a></p>
                    </div>
                {% endfor %}
                
                {% elif project.number_of_systems %}
                    
                    <h2>{{project.number_of_systems}} drives used.</h2>            
    
                {% else %}
                        <h2>No Drives Assigned</h2>
                {% endif %}
                
                {% if project.project_complete_date %}
    
                {% else %}
                    <form method="POST" class="section-form">
                        {% csrf_token %}
                            {{add_drive_form.drive}}
            
                        <input class="btn--inline btn--btn-outline-black" name="drive_add" type="submit" value="Add Drive">
                    </form>
                {% endif %}            
        </div>
    </div>
            
    <div class="color-page-white page-area rental-notes">
        <div class="flex-header">
            <h3 class="section-header">Notes</h3>
        </div>
            <div class="page-area-info">
                {% if project.additional_info %}
                    <p class="page-area-full-width">{{ project.additional_info|linebreaksbr }}</p>
                {% else %}
                    <p>No Notes</p>
                {% endif %}
                    
                </div>
        </div>
    
        <div class="color-light-grey page-area rental-dates">
            <div class="flex-header">
                <h3 class="section-header">Dates</h3>
            </div>
                <div class="page-area-info">
                    <table class="dates-info">
                        <tr>
                            <td>Start Date:</td>
                            <td>
                                {% if project.start_date %}
                                    {{ project.start_date|date:'M d Y'}}
                                {% else %}
                                    -----
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Mixing Complete Date:</td>
                            <td>
                                {% if project.mixing_complete_date %}
                                    {{project.mixing_complete_date|date:'M d Y'}}
                                {% else %}
                                    ------
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Drive Erase Date:</td>
                            <td>
                                {% if project.project_complete_date %}
                                    {{project.project_complete_date|date:'M d Y'}}
                                {% else %}
                                    ------
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                <form method="POST" class="section-form btn-form">
                    {% csrf_token %}

                    {% if project.mixing_complete_date %}
                        <input name="project_incomplete" class="btn--inline btn--btn-outline-black" type="submit" value="Incomplete"> 
                    {% else %}   
                        <input name="project_complete" class="btn--inline btn--btn-outline-black" type="submit" value="Complete">
                    {% endif %}
                    {% if project.project_complete_date and project.mixing_complete_date %}
                    {% else %}
                        <input type="button" class="btn--inline btn--btn-outline-black" onclick="showModal('.modal--backup-form')" value="Erase Drives"/>
                    {% endif %}
                </form>
            </div>

            
            <!-- MODALS -->

            <!-- Backup Drives -->

            <div class="modal modal--backup-form">
                <div id="backup-form" class="backup-form">
                    <h2 class="warning-text">Backups cannot be undone!</h2>
                    {% if project.season %}
                        <h2>Do you want to backup {{project.title}}: Season {{project.season}}?</h2>
                    {% else %}
                        <h2>Do you want to backup {{project.title}}?</h2>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <input name="project_backup" class="btn--inline btn--btn-outline" type="submit" value="Erase Drives">
                        <input class="btn--inline btn--btn-outline-black" type="button" name="" onclick="closeModal('.modal--backup-form')" value="Cancel">
                    </form>
                </div>
            </div>

            <!-- Delete Project -->

            <div class="modal modal--delete-form">
                <div id="backup-form" class="backup-form">
                    <h2 class="warning-text">This cannot be undone!</h2>
                    {% if project.season %}
                        <h2>Do you want to delete {{project.title}}: Season {{project.season}}?</h2>
                    {% else %}
                        <h2>Do you want to delete {{project.title}}?</h2>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <input name="project_delete" class="btn--inline btn--btn-outline" type="submit" value="Delete">
                        <input class="btn--inline btn--btn-outline-black" type="button" name="" onclick="closeModal('.modal--delete-form')" value="Cancel">
                    </form>
                </div>
            </div>

            <!-- New Contact -->
            <div class="modal modal--new-contact">
                <div id="new-contact-window" class="new-contact-window">
                    <h1>New Contact</h1>
                    <form method="POST" class="new-contact-short-form">
                        {%csrf_token %}
                        <p>
                            <label for="first-name">First Name</label>
                            <input type="text" name="first_name" id="first-name" autocomplete="off">
                        </p>
                        <p>
                            <label for="last-name">Last Name</label>
                            <input type="text" name="last_name" id="last-name" autocomplete="off">
                        </p>
                        <p>
                            <label for="phone-number">Phone</label>
                            <input type="text" name="phone_number" id="phone-number" autocomplete="off">
                        </p>
                        <p>
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" autocomplete="off">
                        </p>
                        <p>
                            <label for="company">Company</label>
                            <input type="text" name="company" id="company" autocomplete="off">
                        </p>
                        <p>
                            <label for="title">Title</label>
                            <input type="text" name="title" id="title" autocomplete="off">
                        </p>
                        <p>
                            <input type="checkbox" name="add_to_project" id="add-to-project" hidden>
                        </p>
                        <p class="pop-btn"><input type="submit" class="btn--inline btn--call-to-action" name="create_contact" value="Create Contact"></p>
                        <!-- <p class="pop-btn"><input type="button" class="btn--inline btn--btn-outline-black" onclick="closeModal('.modal--new-contact')" value="Cancel"></p> -->
                        <!-- <p class="btn--close"><input type="button" class="btn--inline btn--btn-outline-black" onclick="closeModal('.modal--new-contact')" value="+"></p> -->
                        <h5 class='btn--close' onclick="closeModal('.modal--new-contact')">+</h5>
                    </form>
                </div>
            </div>
            <!-- End modal--new-contact -->

            <!-- MS Info -->
            <div id="modal--ms-info" class="modal modal--ms-info">

                <div id="ms-info-window" class="ms-info-window">
                    <h5 class='btn--close' onclick="closeModal('.modal--ms-info')">+</h5>
                    <div class="heading">
                        <h1>Media Shuttle</h1>
                        <h3>smb://10.254.129.251</h3>
                    </div>
    

                    <div class="color-page-grey page-area">
                        <div class="">
                            <h1 class="section-header">{{ current_primary.room }}</h1>
                        </div>
                
                        <div class="color-page-white page-area instructions">
                            <table>
                                <tr>
                                    <th>IP Range</th>
                                    <th>Subnet</th>
                                    <th>Router</th>
                                </tr>
                                <tr>
                                    <td>{{ current_primary.room.media_shuttle_ip_range }}</td>
                                    <td>{{ current_primary.room.media_shuttle_subnet }}</td>
                                    <td>{{ current_primary.room.media_shuttle_host }}</td>
                                </tr>
                            </table>
                        </div>
    
                        <div class="ms-clients">
                            <table>
                                {% for client in project.ms_clients.all %}
                                        {% if client.project_room == current_primary %}
                                            <tr>
                                                <td><h3><a href="{% url 'project_clients:project_client_detail' project.abbreviation client.project_client.pk %}">{{ client.project_client.client }}</a></h3></td>
                                                <td><p>{{ client.project_client.client_role }}</p></td>
                                                <td><p>{{ client.client_ms }}</p></td>
                                            </tr>
                                        {% endif %}  <!-- client.project_room == room -->
                                    
                                {% endfor %} <!-- client in ms_clients -->
    
                            </table>
                        </div>
    
                            <form class="section-form" method="POST">
                                {% csrf_token %}
                                <div class="form-field">
                                    <p>{{ ms_client_form.project_client.label_tag }}</p>
                                    <p>{{ ms_client_form.project_client }}</p>
                                </div>
                                <div class="form-field">
                                    <p>{{ ms_client_form.client_ms.label_tag }}</p>
                                    <p>{{ ms_client_form.client_ms }}</p>
                                </div>
                                <input type="hidden" name="project_room" value="{{ current_primary.pk }}">
                                <input class="btn--inline btn--btn-outline" name="ms_add_edit" type="submit" value="Add/Edit">
                                <input class="btn--inline btn--btn-outline-black" name="ms_delete" type="submit" value="Remove">
                            </form>
                
                    </div>

                </div>
            </div>
            <!-- End modal--ms-info -->

            <!-- Room Details -->
            <div class="modal modal--room-detail">
                <div id="room-detail-window" class="room-details">
                    <div class="color-light-grey page-area">
                        <h5 class='btn--close' onclick="closeModal('.modal--room-detail')">+</h5>
                        <h1 class="section-header">Project Rooms</h1>
    
                        <div class="room-info">
                            {% for room in project.rental_rooms.all %}
                                {% if room.primary_room %}
                                    <div class="client-flex">
                                        <p class="text-emphasis">{{ room.room }}</p>
                                    </div>
                                {% else %}
                                    <div class="client-flex">
                                        <p>{{ room.room }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
    
    
                            <form class="room-form" method="POST">
                                {% csrf_token %}
                                    <div class="form-field">
                                        {{ room_form.room.label_tag }}
                                        {{ room_form.room }}
                                    </div>
                                    
                                    <div class="form-field">
                                        {{ room_form.primary_room.label_tag }}
                                        {{ room_form.primary_room }}
                                    </div>
    
                                    <input class="btn--inline btn--call-to-action" name="room_add_edit" type="submit" value="Add/Edit">
                                    <input class="btn--inline btn--btn-outline-black" name="room_remove" type="submit" value="Remove">
                            </form>

                    </div>
                </div>
            </div>
            <!-- End Room Details -->
    
            <div class="page-bottom-btns">
                <a class="btn--large btn--call-to-action" href="{% url 'rental_projects:rental_projects_update' project.pk %}">Edit</a>
                <p class="btn--del" onclick="showModal('.modal--delete-form')">Delete Project</p>
            </div>
    </div>




{% endblock bodyblock %}