{% extends "base.html" %}
{% load static %}

{% block titleblock %}Rental Projects{% endblock titleblock %}

{% block bodyblock %}

<div class="page-top-btns">
  <a class="btn" href="{% url 'rental_projects:rental_projects_create' %}">New Rental</a>
</div>

  
    {% if projects_list %}
      
      {% for project in projects_list %}
      <a class="card" href="{%url 'rental_projects:rental_projects_detail' project.pk %}"> 
          {% if project.season %}

            <h2 class="card-heading">{{project.title}}: Season {{project.season}}</h2>

            {% else %}

            <h2 class="card-heading">{{project.title}}</h2>

            {% endif %}

            <div class="main-info-wrapper">
              <p class="card-subheading">{{project.abbreviation}}</p>
                <div class="main-info">
                  <p>{{project.additional_info}}</p>
                </div>
            </div> 
        {% endfor %}
            
      {% endif %}
    </a> 

{% endblock bodyblock %}