{% extends "base.html" %}
{% load static %}

{% block titleblock %}Backup {{project.title}}{% endblock titleblock %}

{% block bodyblock %}
<form method="POST">
    {% csrf_token %}
    <h2 class="warning-text">Backups cannot be undone.</h2>
    {% if project.season %}
        
        <h2>Do you want to backup {{project.title}}: Season {{project.season}}?</h2>

    {% else %}
        <h2>Do you want to backup {{project.title}}?</h2>
    {% endif %}
    
    
    <div class="page-bottom-btns">
        <a class="btn cancel-btn" href="{% url 'rental_projects:rental_projects_detail' project.abbreviation %}">Cancel</a>
        <input class="btn delete-btn" type="submit" value="Backup">
    </div>

</form>

  
{% endblock bodyblock %}