<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block linkblock%}
      
    {% endblock linkblock %}

    <title>{% block titleblock %}{% endblock titleblock %}</title>



</head>

<body>

    <!-- Header -->
    <div class="header">
        <div class="top-decoration"></div>
        <div class="header-wrapper">
            <!-- <img src="../static/images/dlx_engineering_logo.png" alt=""> -->
            <a href="#">
                <img src="{% static 'images/dlx_engineering_logo.png' %}" alt="">
            </a>
        </div>
    </div>

    {% block headerblock %}
    {% endblock headerblock %}

    <!-- Navbar -->
    <div class="navbar">
        <h2 id="current-page">Logo</h2>

        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-toggle--label">
            <span></span>
        </label>

        <ul class="mainmenu">
            <li><a href="{% url 'contacts:contacts_list' 'all' %}">Contacts</a>
                <ul class="submenu">
                    <li><a href="{% url 'contacts:contacts_list' 'all' %}">List All</a></li>
                    <li><a href="{% url 'contacts:contacts_create' %}">New Contact</a></li>
                </ul>
            </li>
            <li><a href="{% url 'rental_projects:rental_projects_list' 'all' %}">Rentals</a>
                <ul class="submenu">
                    <li><a href="{% url 'rental_projects:rental_projects_create' %}">New Rental</a></li>
                    <li><a href="#">Show Current</a></li>
                </ul>
            </li>
            <li><a href="{% url 'harddrives:harddrives_list' 'available' %}">Drives</a>
                <ul class="submenu">
                    <li><a href="{% url 'harddrives:harddrives_list' 'available' %}">Available</a></li>
                    <li><a href="{% url 'harddrives:harddrives_create' %}">New Drive</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- End Navbar -->
    <!-- Body -->
    <div class="main-wrapper">
        {% block bodyblock %}

        {% endblock bodyblock %}
    </div>
    <!-- Footer -->

    {% block footerblock %}

    {% endblock footerblock %}

</body>

<script type="text/javascript" src="{% static 'js/master.js' %}"></script>
{% block scriptblock %}
  
{% endblock scriptblock %}

</html>