<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block linkblock%}
      
    {% endblock linkblock %}

    <title>{% block titleblock %}{% endblock titleblock %}</title>



</head>

<body>

    <!-- Header -->
    <div class="header">
        <div class="top-decoration"></div>
        <div class="header-wrapper">
            <!-- <img src="../static/images/dlx_engineering_logo.png" alt=""> -->
            <a href="#">
                <img src="{% static 'images/dlx_engineering_logo.png' %}" alt="">
            </a>
        </div>
    </div>

    {% block headerblock %}
    {% endblock headerblock %}

    <!-- Navbar -->

    <!-- <div class="nav-action-bar">
        <div class="nav-wrapper">
            <h2 id="current-page" onclick="showHideMenu('navbar')"></h2>
            <h2 id="page-actions" onclick="showHideMenu('action-bar')">Actions</h2>
        </div>
        <ul id="navbar" class="navbar">
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Rentals</a></li>
            <li><a href="#">Harddrives</a></li>
            <li><a href="#">Plugins</a></li>
        </ul>
        <ul id="action-bar" class="navbar">
            {% block actionbar %}
            {% endblock actionbar %}
        </ul>

    </div> -->

    <div class="page-menu-wrapper list-link-clear">
    <a href="#"><h2 id="current-page" onclick="showHideMenu('page-menu')"></h2></a>
            <ul id="page-menu">
                {% block pagemenu %}
                {% endblock pagemenu %}      
            </ul>
    </div>


    <!-- Body -->
    <div class="main-wrapper">
        {% block bodyblock %}

        {% endblock bodyblock %}
    </div>
    <!-- Footer -->

    {% block footerblock %}

    {% endblock footerblock %}

</body>

<script type="text/javascript" src="{% static 'js/master.js' %}"></script>

</html>